{% extends 'base.html.twig' %}

{% block title %}Recipes-CRUD - Ingredients
{% endblock %}

{% block body %}
	<div class="container">


		<h1 class="text-center mt-4">Ingredients</h1>
        {% if not ingredients is same as([])  %}
		<div class="count">

			
				<h4>There are
					{{ingredients.getTotalItemCount}}
					ingredients</h4>


		</div>
		<div class="row">
			<div class="col-12">
				<a href="#" class="btn btn-primary">Add Ingredient</a>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				<table class="table table-striped mt-3">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Price</th>
							<th>Creation date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for ingredient in ingredients %}
							<tr>
								<td>{{ ingredient.id }}</td>
								<td>{{ ingredient.name }}</td>
								<td>{{ ingredient.price }}</td>
								<td>{{ ingredient.createdAt |date("m/d/Y")  }}</td>
								<td>

									<a href="#" class="btn btn-secondary">Edit</a>
									<a href="#" class="btn btn-danger">Delete</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="navigation d-flex justify-content-center mt-5">
					{{ knp_pagination_render(ingredients) }}
				</div>
			</div>
        {% else %}
			<h4>There are no ingredients</h4>
		{% endif %}
		</div>
	{% endblock %}
